<ng-template #content let-offcanvas style="width:100px;">
  <div class="offcanvas-header justify-content-end">
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
        aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>


  </div>
</ng-template>

<div class="row m-0 p-0 border-bottom align-items-center shadow-sm p-2 justify-content-between">
  <div class="col-auto m-0 p-0 flex-row align-items-center d-flex ">
    <button class="p-0 m-0 pt-1 col-auto border-0 align-items-center bg-white" (click)="open(content)">
      <mat-icon aria-hidden="false">menu</mat-icon>
    </button>
    <a href="" class="col-auto p-0 m-0 ps-2"><img src="assets/images/hf-logo.svg" class="top-logo" /></a>
  </div>
  <button class="col-auto m-0 p-0 bg-white border-0 align-items-center d-flex hf-btn">
    <mat-icon>logout</mat-icon>&nbsp; Logout
  </button>
</div>