@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";


:root {
    --blue: #3062ad;
    --orange: #f2713f;
    --bgGrey:#eaf0f7;
    --bodybg:#f8f9fa;
    --white:#ffffff;
    --lightGrey: #cccccc;
}
body{
    font-size:16px!important;
}

.offcanvas {
    width: 300px !important;
}

/* Mat Table */
.tableHeader{
    background-color: var(--blue)!important;
    color:var(--white);
}
.tableFooter{
    background-color:var(--lightGrey)!important;
}
.mat-mdc-paginator .mat-mdc-select-value, .mat-mdc-select-arrow{
color:#000000!important;
}
.mdc-notched-outline{
border:1px solid #000000!important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
    color:#ffffff!important;
}


/*Global Styles*/
.btn-close:focus {
    box-shadow: none !important;
}
.hf-btn:hover{
    color:var(--orange)
}
.text-orange{
    color:var(--orange)
}
.text-blue{
    color:var(--blue)
}
.content-bg{
    background-color: var(--bodybg);
    height:100vh!important;
}

/*Table Styles*/
.mat-mdc-table{
    background-color:white!important;
    border:1px solid #dddddd!important;
    border-bottom:none!important;

}
.mat-mdc-row{
    color:black!important;
}
.mat-mdc-header-row{
    color:black!important;
}
.mat-mdc-paginator{
    color:black!important;
    background-color: inherit;
}
.mat-mdc-table mat-header-row.mat-mdc-header-row, .mat-mdc-table mat-row.mat-mdc-row, .mat-mdc-table mat-footer-row.mat-mdc-footer-cell{
    border-bottom:1px solid #dddddd!important;
}

