@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";


:root {
    --blue: #3062ad;
    --orange: #f2713f;
}
body{
    font-size:16px!important;
}

.offcanvas {
    width: 300px !important;
}



/*Global Styles*/
.btn-close:focus {
    box-shadow: none !important;
}
.hf-btn:hover{
    color:var(--orange)
}