@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";


:root {
    --blue: #3062ad;
    --orange: #f2713f;
    --bgGrey:#eaf0f7;
    --bodybg:#f8f9fa;
}
body{
    font-size:16px!important;
}

.offcanvas {
    width: 300px !important;
}



/*Global Styles*/
.btn-close:focus {
    box-shadow: none !important;
}
.hf-btn:hover{
    color:var(--orange)
}
.text-orange{
    color:var(--orange)
}
.text-blue{
    color:var(--blue)
}
.content-bg{
    background-color: var(--bodybg);
    height:100vh!important;
}