<app-app-nav></app-app-nav>
<div class="col-12 p-2 pt-4 mt-5 content-bg">
    <div class="row m-0 p-0">
    <h3>ADMIN / DASHBOARD</h3>
    </div>
    <div class="row m-0 p-0 dashboard">
        <div class="col-3">
            <div class="col-auto border rounded shadow-sm align-items-center d-flex p-2">
                <div class="col-auto me-2 icon-bg">
                    <mat-icon class="text-orange">local_mall</mat-icon>
                </div>
                <div class="col-auto">
                    <h3 class="m-0 fw-bold text-blue">Today Order</h3>
                    <h4 class="m-0">10</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-auto border rounded shadow-sm align-items-center d-flex p-2">
                <div class="col-auto me-2 icon-bg">
                    <mat-icon class="text-orange">sentiment_dissatisfied</mat-icon>
                </div>
                <div class="col-auto">
                    <h3 class="m-0 fw-bold text-blue">Customer Complaints</h3>
                    <h4 class="m-0">10</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-auto border rounded shadow-sm align-items-center d-flex p-2">
                <div class="col-auto me-2 icon-bg">
                    <mat-icon class="text-orange">inventory_2</mat-icon>
                </div>
                <div class="col-auto">
                    <h3 class="m-0 fw-bold text-blue">Products</h3>
                    <h4 class="m-0">10</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="col-auto border rounded shadow-sm align-items-center d-flex p-2">
                <div class="col-auto me-2 icon-bg">
                    <mat-icon class="text-orange">group</mat-icon>
                </div>
                <div class="col-auto">
                    <h3 class="m-0 fw-bold text-blue">Users</h3>
                    <h4 class="m-0">10</h4>
                </div>
            </div>
        </div>
    </div>
</div>

