<app-app-nav></app-app-nav>
<div class="col-12 p-2 pt-4 mt-5 content-bg">
    <div class="row m-0 p-0">
    <h3>ADMIN / ORDERS</h3>
    </div>

    <div class="col-12 p-0 m-0">
      
      

      <input matInput (keyup)="applyFilter($event)" placeholder="Search" class="form-control mb-3"/>

      <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="orderId">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Order ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.orderId}} </mat-cell>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="orderDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.orderDate}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="shipName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.shipName}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="shipAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Address </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.shipAddress}}, {{row.shipState}},  {{row.shipPincode}}<br/> Mobile: {{row.shipMobileNo}}</mat-cell>
        </ng-container>
        

        <!-- Color Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Amount </mat-header-cell>
          <mat-cell *matCellDef="let row"> <mat-icon style="font-size:16px; width:16px;" class="d-flex align-items-center">currency_rupee</mat-icon>{{row.amount}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="paymentStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Payment Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.paymentStatus}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="orderStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> Order Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.orderStatus}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader">  Details </mat-header-cell>
          <mat-cell *matCellDef="let row"> <button class="btn btn-primary" (click)="orderDetails(row.orderId)">View Details</button></mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]" class="tableFooter"></mat-paginator>
    </div>

   
    
</div>